<footer class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Empresa</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="/#/">Inicio</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Recursos</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="/#/meta/privacy-policy">Politica de privacidad</a></li>
            <li><a href="/#/meta/terms-use">Terminos & Condiciones</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="mb-4 mb-lg-0">
          <h5 class="mb-3 footer-list-title">Ultimas Noticias</h5>
          <div class="blog-post">
            <a href="javascript: void(0);" class="post">
              <div class="badge badge-soft-success font-size-11 mb-3">
                Lazo Deploy
              </div>
              <h5 class="post-title">Lazo desplego sus servicios web al publico</h5>
              <p class="mb-0">
                <i class="bx bx-calendar me-1"></i> Feb, 2024
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <hr class="footer-border my-5" />

    <div class="row">
      <div class="col-lg-6">
        <div class="mb-4">
          <img src="assets/images/logos/lazo.png" alt="" height="70" />
        </div>

        <p class="mb-2">{{ year }} © Lazo.</p>
        <p>
          Un lazo con tu mascota.
Descubre nuestra línea exclusiva de productos para tu fiel compañero.
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</footer>

